
.service-card{
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: #323232;
    margin-bottom: 10%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    font-family:'Montserrat', sans-serif;
    border-radius: 2vh;
}

.service-card h1{
    text-align: left;
    font-size: 2vh
}
.date{
display: flex;
flex-direction: column;
flex: 1;
justify-content: center;
align-items: center;
height: 80%;
background-color:  #252525 ;
border-radius: 10px;
}
.date input{
    color: white;
    border:.5px solid white;
    border-radius: 5px;
    font-size: 1.5vh;
    height: .5vh;
    width: 20vw;
    margin-bottom: 15%;
    outline: none
    
}

.date h2{
   font-family:'Montserrat', sans-serif;
   color: white;
   padding: 2%;
   font-size: 1.5vh
}
.mid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30%
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    flex: 2;
}
.top h1{
    font-size: 25px;
}
.description{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 1.5vh;
}
.service-button{
    width: 70%;
    height: 6vh;
    background-color:#252525;
    color: white;
    margin-bottom: 5%;
}

.time-button-container{
    height: 15vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}
.time-button{
    width: 18%;
    height: 30%;
    background-color: #252525 ;
    color: white;
    font-size: 1.5vh
}