.service-card{
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: #323232;
    margin-top: 10%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    font-family:'Montserrat', sans-serif;
    border-radius: 2vh;
}
.service-card h1{
    text-align: left;
    font-size: 2vh
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    flex: 2;
}
.description{
    display: flex;
    flex-direction: column;
    flex: 6;
    width: 90%;
}
.service-button{
    width: 70%;
    height: 6vh;
    background-color: #323232;
    color: white;
    margin-bottom: 5%;
}